.selectionTable {
    .el-table {
        th {
            background: #F5F7FA;
            &:first-child {
                .cell {
                    text-align: center;
                    padding-left: 14px;
                }
            }
        }
        td:first-child {
            .cell {
                text-align: center;
                padding-left: 14px;
            }
        }
    }
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.operation {
    @include clearfix;
    span {
        color: #2F70DF;
        padding-right: 9px;
        padding-left: 9px;
        border-right: 1px solid #E1E1E1;
        cursor: pointer;
        float: left;
        &:last-child {
            border-right: none;
            color: #EB6751;
        }
    }
    .span-yellow {
        color: #F7981C;
    }
    .span-gray {
        color: #C5C5C5 !important;
        cursor: not-allowed;
    }
    .span-blue {
        color: #2F70DF !important;
    }
}

.orgHeader {
    height: 34px;
    box-sizing: content-box;
    padding: 14px 30px;
    .search {
        width: 353px;
        float: right;
    }
    .add-icon {
        margin-left: -10px;
        margin-right: 6px;
    }
}

.el-pager {
    li {
        color: #606266;
        font-weight: normal;
    }
    li.active {
        color: #6666FF;
    }
}

.breadcrumb-box {
    background: $color_F4F6F8;
    height: 50px;
    padding: 10px 30px;
    .ivu-breadcrumb {
        line-height: 30px;
    }
}
