@import "~element-ui/packages/theme-chalk/src/mixins/mixins";
//@import "common/var";

@include b(table) {

    thead {
        color: $--table-header-color;   //
        font-weight: 500;
    }

    th {
        white-space: nowrap;
        overflow: hidden;
        user-select: none;
        text-align: left;
        background-color: $--table-header-background;   //

        > .cell {
            font-weight: normal;
        }
    }

    @include e(body) {
        tr.hover-row {
            &, &.el-table__row--striped {
                &, &.current-row {
                    > td {
                        background-color: $--table-current-row-background;  //
                    }
                }
            }
        }

    }

}
