$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "../fonts" !default;

$icon-arrow-down: "\e900";
$icon-help: "\e901";
$icon-arrow-up: "\e903";
$icon-error: "\e904";
$icon-logo: "\e905";
$icon-modify: "\e906";
$icon-pic-path1: "\e907";
$icon-pic-path2: "\e908";
$icon-pic-path3: "\e909";
$icon-fiance: "\e90a";
$icon-person: "\e90b";
$icon-management: "\e90c";
$icon-warn: "\e90d";
$icon-notice: "\e90e";
$icon-delete: "\e90f";
$icon-avator: "\e910";
$icon-pull-down: "\e911";
$icon-login-out: "\e912";
$icon-issue: "\e913";
$icon-add: "\e914";
$icon-reset-pass: "\e915";
$icon-mind: "\e916";

