@import 'blackSkin';
@import "blueSkin";
@import "pinkTheame";
.operate-list{
    @include table_operate();

    .disabled{
        cursor: not-allowed!important;
        color: $color_999!important;
    }
}


.el-tooltip__popper {
    max-width: 900px !important;
    word-wrap: break-word !important;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #598de5 !important;
}


