.ivu-btn-default{
  padding: 6px 20px 5px;
}
.selectionTable{
  .el-table{
    th{
      background: $color_F5F7FA;
      &:first-child{
        .cell{
          text-align: center;
          padding-left: 14px;
        }
      }
    }
    td:first-child{
      .cell{
        text-align: center;
        padding-left: 14px;
      }
    }
  }
}
.el-table{
  th{
    background: $color_F5F7FA;
    .cell{
      padding-left: 20px;
    }
    &:first-child{
      .cell{
        padding-left: 40px;
      }
    }
  }
  td{
    .cell{
      padding-left: 20px;
    }
    &:first-child{
      .cell{
        padding-left: 40px;
      }
    }
  }
  th>.cell{
    color: $color_303133;
    font-weight: normal;
  }
  .cellText{
    .code{
      color: $color_333;
    }
    .icon_enable{
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 8px;
      overflow: hidden;
      background: $color_green;
    }
    .icon_notEnable{
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 8px;
      overflow: hidden;
      background: $color_BBC5D5;
    }
  }
}
.el-pager {
  li{
    color: $color_606266;
    font-weight: normal;
  }
  li.active{
    color: $color_6666FF;
  }
}
.ivu-modal{
  .ivu-modal-header{
    background: #F5F7FA;
    border-radius: 8px 8px 0 0;
    .ivu-modal-header-inner{
      font-size: $font_size_16px;
    }
  }
  .ivu-form-item-content{
    width: 280px;
    float: right;
  }
  .ivu-modal-footer{
    padding: 13px;
    border-radius: 0 0 8px 8px;
  }
  .ivu-btn-small{
    min-width: 90px;
    padding: 1px 0;
  }
  .ivu-btn{
    height: 32px;
  }
  .ivu-form-item{
    display: flex;
    justify-content: flex-end;
  }
  .ivu-form-item-label{
    min-width: inherit;
    padding: 10px 10px 10px 12px;
    font-size: $font_size_14px;
    color: $color_585858;
    &:after{
      margin-left: 0;
      left: 4px;
      top: 12px;
    }
  }
  .ivu-radio-group-item{
    margin-top: -2px;
    font-size: $font_size_14px;
    color: $color_333;
  }
}
.operation{
  @include clearfix;
  span{
    color: $color_blue;
    padding-right: 9px;
    padding-left: 9px;
    border-right: 1px solid #E1E1E1;
    cursor: pointer;
    float: left;
    &:last-child{
      border-right: none;
      color: $color_red;
    }
  }
  .span-yellow{
    color: $color_yellow;
  }
  .span-gray{
    color: $color_gray!important;
    cursor: not-allowed;
  }
  .span-blue{
    color: $color_blue!important;
  }
}
.orgHeader{
  @include clearfix;
  padding: 14px 30px;
  .search{
    width: 353px;
    float: right;
  }
}
.pagination{
  margin:30px auto;
  text-align: center;
}
