/* Element Chalk Variables */


/* Colors
-------------------------- */
$--color-primary-light-10: #e6f7ff !default; /* E6F7FF */

$--color-text-primary: #303133 !default;

/* Background
-------------------------- */
$--background-color-base: #f5f7fa !default;
$--background-color-row-hover: #e6f7ff !default;

/* Font
-------------------------- */
$--font-path: '~element-ui/packages/theme-chalk/src/fonts' !default;

/* Table
-------------------------- */
//$--table-header-color: $--color-text-secondary !default;
$--table-header-color: $--color-text-primary !default;
//$--table-row-hover-background: $--background-color-base !default;
$--table-row-hover-background: $--background-color-base !default;
//$--table-current-row-background: $--color-primary-light-9 !default;
$--table-current-row-background: $--color-primary-light-10 !default;
//$--table-header-background: $--color-white !default;
$--table-header-background: #f5f7fa !default;

@import "~element-ui/packages/theme-chalk/src/common/var";
