/* Element Chalk Variables */


/* Colors
-------------------------- */
$--color-primary-light-10: #e6f7ff; /* E6F7FF */

$--color-text-primary: #303133 !default;

/* Background
-------------------------- */
$--background-color-base: #f5f7fa;
$--background-color-row-hover: $--color-primary-light-10;

/* Font
-------------------------- */
$--font-path: '~element-ui/packages/theme-chalk/src/fonts';

/* Table
-------------------------- */
//$--table-header-color: $--color-text-secondary !default;
$--table-header-color: $--color-text-primary;
//$--table-row-hover-background: $--background-color-base !default;
$--table-row-hover-background: $--color-primary-light-10;
//$--table-current-row-background: $--color-primary-light-9 !default;
$--table-current-row-background: $--color-primary-light-10;
//$--table-header-background: $--color-white !default;
$--table-header-background: $--background-color-base;

@import "~element-ui/packages/theme-chalk/src/common/var";
