/build/
/config/
/dist/
/*.js
/test/unit/coverage/

/src/api/
/src/assets/
/src/config/
/src/mixins/
/src/utils/
/src/router/
/src/components/
/src/store/
/src/*.js
/src/App.vue

/src/pages/financeManage/
/src/pages/login/
/src/pages/orgStructure/
/src/pages/permissionNot/
/src/pages/personalCenter/
/src/pages/register/
/src/pages/systemSetting/
/src/pages/withoutSubMenu/
/src/pages/orderCenter/
/src/pages/productCenter/

/src/pages/memberManage/card/
/src/pages/memberManage/components/
/src/pages/memberManage/fund/
/src/pages/memberManage/home/
/src/pages/memberManage/information/
/src/pages/memberManage/integration/
/src/pages/memberManage/newCard/
/src/pages/memberManage/setting/


