
@import '//at.alicdn.com/t/font_772944_9f31vipj5yr.css';
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-bottom:before { content: "\e60a"; }

.icon-help:before { content: "\e60b"; }

.icon-partner:before { content: "\e60c"; }

.icon-verify:before { content: "\e60d"; }

.icon-fold:before { content: "\e60e"; }

.icon-notification:before { content: "\e60f"; }

.icon-market-channel:before { content: "\e610"; }

.icon-orgaization:before { content: "\e611"; }

.icon-role-permission:before { content: "\e612"; }

.icon-notification-w:before { content: "\e613"; }

.icon-trade-channel:before { content: "\e614"; }

.icon-theme:before { content: "\e615"; }

.icon-avator:before { content: "\e616"; }

.icon-person:before { content: "\e617"; }

.icon-icon-pack-up:before { content: "\e618"; }

.icon-icon-unfold:before { content: "\e619"; }

