/*@import '//at.alicdn.com/t/font_772944_80hqjuy3fme.css';*/
@import '//at.alicdn.com/t/font_772944_qaqhn6dkrwk.css';

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'pingfang';
    src: url('../fonts/PingFang-Regular.eot');
    src:
        url('../fonts/PingFang-Regular.eot?#font-spider') format('embedded-opentype'),
        url('../fonts/PingFang-Regular.woff') format('woff'),
        url('../fonts/PingFang-Regular.ttf') format('truetype'),
        url('../fonts/PingFang-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'pingfang'!important;
}

/*.icon-arrow-bottom:before {*/
    /*content: "\e60a";*/
/*}*/

/*.icon-help:before {*/
    /*content: "\e60b";*/
/*}*/

/*.icon-partner:before {*/
    /*content: "\e60c";*/
/*}*/

/*.icon-verify:before {*/
    /*content: "\e60d";*/
/*}*/

/*.icon-fold:before {*/
    /*content: "\e60e";*/
/*}*/

/*.icon-notification:before {*/
    /*content: "\e60f";*/
/*}*/

/*.icon-market-channel:before {*/
    /*content: "\e610";*/
/*}*/

/*.icon-orgaization:before {*/
    /*content: "\e611";*/
/*}*/

/*.icon-role-permission:before {*/
    /*content: "\e612";*/
/*}*/

/*.icon-notification-w:before {*/
    /*content: "\e613";*/
/*}*/

/*.icon-trade-channel:before {*/
    /*content: "\e614";*/
/*}*/

/*.icon-theme:before {*/
    /*content: "\e615";*/
/*}*/

/*.icon-avator:before {*/
    /*content: "\e616";*/
/*}*/

/*.icon-person:before {*/
    /*content: "\e617";*/
/*}*/

/*.icon-icon-pack-up:before {*/
    /*content: "\e618";*/
/*}*/

/*.icon-icon-unfold:before {*/
    /*content: "\e619";*/
/*}*/

